<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="messages"
					     type="System.Diagnostics.XmlWriterTraceListener"
					     initializeData="c:\logs\messages.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<!-- Lors du déploiement du projet de bibilothèque de services, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration des bibliothèques. -->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="Big"
				         maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647"
					              maxArrayLength="2147483647" maxBytesPerRead="2147483647"
					              maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="Big"
				         maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647"
					              maxArrayLength="2147483647" maxBytesPerRead="2147483647"
					              maxNameTableCharCount="2147483647" />
				</binding>
			</webHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8733/Design_Time_Addresses/ProxyService/ProxyService/"
			          binding="basicHttpBinding" bindingConfiguration="Big"
			          contract="ProxyService.IProxyService" name="BasicHttpBinding_IProxyService" />
		</client>
		<services>
			<service name="RoutingService.BikeRoutingService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/RoutingService/BikeRoutingService/" />
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<!-- À moins qu'elle ne soit complète, l'adresse est relative à l'adresse de base fournie ci-dessus -->
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="Big"
				          contract="RoutingService.IBikeRoutingService">
					<!-- 
              Lors du déploiement, l'élément d'identité suivant doit être supprimé ou remplacé pour refléter 
              l'identité sous laquelle le service déployé s'exécute.  En cas de suppression, WCF déduira automatiquement une identité 
              appropriée.
          -->
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="rest/" binding="webHttpBinding" bindingConfiguration="Big"
				          contract="RoutingService.IBikeRoutingService"
				          behaviorConfiguration="web" />
				<!-- Metadata Endpoints -->
				<!-- Le point de terminaison de l'échange de métadonnées est utilisé par le service pour se décrire aux clients. -->
				<!-- Ce point de terminaison n'utilise pas de liaison sécurisée et doit être sécurisé ou supprimé avant le déploiement -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<extensions>
			<behaviorExtensions>
				<add name="corsBehavior" type="RoutingService.EnableCorsBehavior, RoutingService" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Pour éviter la divulgation d'informations de métadonnées, 
          définissez les valeurs ci-dessous sur false avant le déploiement -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, 
          définissez la valeur ci-dessous sur true.  Pour éviter la divulgation d'informations d'exception, 
          définissez-la sur false avant le déploiement -->
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<corsBehavior />
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<diagnostics>
			<messageLogging
				logEntireMessage="true"
				logMalformedMessages="false"
				logMessagesAtServiceLevel="true"
				logMessagesAtTransportLevel="false"
				maxMessagesToLog="3000"
				maxSizeOfMessageToLog="2000" />
		</diagnostics>
	</system.serviceModel>

</configuration>