<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<system.serviceModel>
		<services>
			<service name="MathsLibraryRest.MathsOperations">
				<endpoint address="http://localhost:8733/Design_Time_Addresses/MathsLibraryRest/MathsOperations/" binding="webHttpBinding" contract="MathsLibraryRest.IMathsOperations"/>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>